/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.global .large-header {
	background-image: url('../img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 45%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-title-nav {
	position: absolute;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-title-nav > a {
	color:white;
	display: inline-flex;
}

.link-a {
	top: 60%;
	left: 35%;
 }
.link-b {
	top: 60%;
	left: 50%;
}
.link-c {
	top: 60%;
	left: 65%;
}

.front-excerpt {
	font-size: 1.3em;
		position: absolute;
		display: inline-block;
		margin: 0;
		padding: 0;
		color: white;
		text-align: center;
		top: 60%;
		left: 50%;
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
}
.front-excerpt {
		vertical-align: middle;
}

.image-credits {
		position: absolute;
		display: inline-block;
		margin: 0;
		padding: 0;
		color: white;
		text-align: center;
		top: 98%;
		left: 15%;
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
}

.global .image-credits {
	text-transform: uppercase;
	font-size: 0.5em;
	letter-spacing: 0.1em;
}

.global .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.global .main-title-nav {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.1em;
}


.main-title .thin {
	font-weight: 200;
}

/* Effect 21: borders slight translate */
.cl-effect-21 a {
	padding: 10px;
	color: #ffffff;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #88ccff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #808080;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

@media only screen and (max-width : 768px) {


	.global .main-title {
		font-size: 3em;
	}
	.global .main-title-nav {
		top: 60%;
		font-size: 0.8em;
	}

	.global .front-excerpt {
		font-size: 0.8em;

	}
	.link-a {
		font-size: 1em;
		left: 25%;
	 }
	.link-b {
	font-size: 1em;
	}
	.link-c {
	font-size: 1em;
		left: 75%;
	}
}
